.CommentForm {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 20px;
}

.CommentForm > h2 {
  margin: 0;

  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.CommentForm-text {
  width: 100%;
  min-height: 76px;
  resize: none;

  color: #000;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.CommentForm-buttons {
  display: flex;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
