.ItemDetail {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin: 20px 40px;

  font-size: 18px;
}

.ItemDetail-price {
  font-size: 24px;
  font-weight: 700;
}

.ItemDetail-add {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
